body
{
  margin:0px;
  font-family: tahoma,arial; 
  font-size: 14px;
}

.main
{
  width:1000px;
  margin:0 auto;
}

.header
{
  background-color:#b2e7ff;
  border-bottom: solid 2px #0ab1ff;
  color:black;
  font-size:24px;
  text-align:center;
  padding:20px;
}

.main_body
{
  width:1000px;
  overflow:hidden;
}

.box1
{
  background-color:#0ab1ff;
  width:230px;
  float:left;
  padding:25px 5px 25px 5px;
}

.box1 ul
{
  margin-left:10px;
  padding:10px;
}

.box1 ul li
{
  font-size:14px;
  color:white;
  padding:8px 8px 8px 2px;
}

a
{
  font-size:14px;
  color: white; 
  text-decoration: none;
}

.box1 p
{
  padding-top:10px;
  font-size:12px;
}

.box2
{
  float:left;
  padding:20px;
  width:710px;
  position:relative;
}

#heading_box1
{
  font-size:18px;
  color:black;
  margin-bottom:10px;
}

#heading_box2
{
  font-size:24px;
  color:black;
  margin-bottom:10px;
}


.box2 p
{
  color:#802525;
  padding-top:10px;
  padding-bottom:10px;
  font-size:14px;
  text-align:justify;
}

.footer
{
  background-color:#3cff78;
  border-bottom:solid 2px #0ab1ff;
  font-size:24px;
  padding:20px;
  text-align:center;
  color: black;
}